doctype html
html
    head
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")

    body
        div
            h1 This is a microservice for shortening url

            p.
                To use go to <a href="https://obscure-escarpment-37385.herokuapp.com/api/">
                and enter the address of the website you want to use.
            
            code https://obscure-escarpment-37385.herokuapp.com/api/https://google.com
                    
        
